build
coverage
node_modules
.vscode
/**/dist
/**/node_modules
packages/sf-cient/src/types
packages/sf-graph-client/src/generated.ts
packages/sf-graph-client/.graphclient
packages/sf-client/examples
packages/secured-finance-subgraph