{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "extends": [
      "eslint:recommended",
      "prettier"
    ],
    "rules": {
      "no-return-await": "warn",
      "eqeqeq": "warn",
      "no-eq-null": "warn",
      "unicorn/filename-case": "off",
      "max-statements-per-line": "warn"
    }
}
